body{
    margin: 0;
}

.menu-superior{
    margin: 0;
    background: pink;
    color: white;
    height: 250px;
    width: 160px;
    justify-content: center;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.menu-superior li{
    width: 110px;
    height: 50px;
    list-style: none;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
}

.menu-superior li:hover{
    background: #E94E1B;
    text-decoration: underline;
    
}