body{
    margin: 0;
}

.menu-superior{
    margin: 0;
    display: flex;
    background: black;
    color: white;
    height: 30px;
    justify-content: center;
    
}

.menu-superior li{
    width: 150px;
    list-style: none;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.menu-superior li:hover{
    background: #E94E1B;
    text-decoration: underline;
}